#image1{
    width: 400px;
    height: 250px;
}



/* 分頁按鈕 */
.page_show {
    display: inline-block;
}

.pagination-center {
    text-align: center;
}

.page_show span {
    color: black;
    float: left;
    padding: 18px 26px;
    text-decoration: none;
}

.page_show span.active {
    background-color: #86B817;
    color: white;
    border-radius: 5px;
}

.page_show span:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.shopping-cart {
    position: fixed;
    bottom: 400px;
    right: 20px;
    z-index: 999;
}